<div class="filters shadow-sm rounded bg-white mb-4">
  <div class="filters-header border-bottom pl-4 pr-4 pt-3 pb-3">
    <h5 class="m-0">Bộ lọc</h5>
  </div>
  <div class="filters-body">
    <div id="accordion">
      <div class="filters-card p-4">
        <div class="filters-card-header">
          <h6 class="mb-0">
            Sách
          </h6>
        </div>
        <br>
        <div id="collapseCategory" class="book-cat">
          <div class="book-link">
            <p id="vocabulary-link">Thêm từ vựng</p>
            <p id="grammar-link">Thêm ngữ pháp</p>
            <p id="book-link">Thêm sách</p>
            <p id="lesson-link">Thêm bài học</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
