<app-navbar-user id="app-navbar-customer"></app-navbar-user>

<section class="section pt-5 pb-5 products-listing">

  <div class="container">
    <div class="row d-none-m">
      <div class="col-md-12">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <app-sidebar-admin></app-sidebar-admin>


      </div>
      <div class="col-md-9">
        <div class="owl-carousel owl-carousel-category owl-theme list-cate-page mb-4">
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/1.png" alt="">
                <h6>American</h6>
                <p>156</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/2.png" alt="">
                <h6>Pizza</h6>
                <p>120</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/3.png" alt="">
                <h6>Healthy</h6>
                <p>130</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/4.png" alt="">
                <h6>Vegetarian</h6>
                <p>120</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/5.png" alt="">
                <h6>Chinese</h6>
                <p>111</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/6.png" alt="">
                <h6>Hamburgers</h6>
                <p>958</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/7.png" alt="">
                <h6>Dessert</h6>
                <p>56</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/8.png" alt="">
                <h6>Chicken</h6>
                <p>40</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/9.png" alt="">
                <h6>Indian</h6>
                <p>156</p>
              </a>
            </div>
          </div>
        </div>
        <h5 class="header">{{test.name}}</h5>
        <button class="btn btn-primary" style="border-radius: 5px" data-toggle="modal"
                data-target="#delete-test-modal">Thêm câu hỏi</button>
        <div class="row">
          <div class="col-md-8 col-sm-8 mb-4 pb-2" *ngFor="let question of questionTestList, index as i">
              <h6 class="header"  >Bài {{question.note}}. {{question.caption}}</h6>
            <button class="btn btn-primary" style="border-radius: 5px" data-toggle="modal" data-target="#create-question-test1-modal" (click)="getQuestionTest1Id(question.id)">Thêm nội dung</button>
            <div *ngFor="let questionTest1DTO of questionTest1DTOList, index as i">
              <div *ngIf="questionTest1DTO.questionTest.id === question.id">
                  <h6>{{i+1}}) {{questionTest1DTO.question}}</h6>
              <div *ngFor="let answerQuestion1 of questionTest1DTO.answerQuestion1List, index as i">
                  <p *ngIf="answerQuestion1.answer !== '';">{{answerQuestion1.note}}: {{answerQuestion1.answer}}</p>
              </div>
              <div>
                <h6>Đáp án đúng {{questionTest1DTO.correctAnswer}}</h6>
              </div>
            </div>
            </div>
          </div>
          <!--          <div>-->
          <!--            <p style="float: left; margin-left: 110px; margin-top: 500px">Trang {{page}}</p>-->
          <!--            <p style="float: left; margin-left: 10px; margin-top: 500px">/ {{totalPage}}</p>-->
          <!--          </div>-->
          <!--          <div class="col-md-12 text-center load-more">-->

          <!--            <button *ngIf="offset != 0" class="btn btn-success" type="button" (click)="first()"-->
          <!--                    style="margin-right: 20px">-->
          <!--              <i class="fa-solid fa-backward-fast"></i>-->
          <!--              Trang đầu-->
          <!--            </button>-->
          <!--            <button *ngIf="offset != 0" class="btn btn-success" type="button" (click)="previous()">-->
          <!--              <i class="fa-solid fa-backward-step"></i>-->
          <!--              Quay lại-->
          <!--            </button>-->
          <!--            <button *ngIf="offset != size" style="margin-left: 20px" class="btn btn-success" type="button" (click)="next()">-->
          <!--              <i class="fa-solid fa-forward-step"></i>-->
          <!--              Trang kế-->
          <!--            </button>-->
          <!--            <button *ngIf="offset != size" style="margin-left: 20px" class="btn btn-success" type="button" (click)="last()">-->
          <!--              <i class="fa-solid fa-forward-fast"></i>-->
          <!--              Trang cuối-->
          <!--            </button>-->
          <!--          </div>-->
        </div>
      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>
<div class="modal fade" id="delete-test-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm câu hỏi?</h5>
        <span type="button" class="btn-close" data-dismiss="modal" aria-label="Close">X</span>
      </div>
      <div class="modal-body">
        <form [formGroup]="questionTestForm">
        <div class="mb-3">
          <label for="note" class="form-label">Bài số</label>
          <input type="text" class="form-control" id="note" formControlName="note">
          <!--            <p class="validate" [hidden]="fullName.valid || !fullName.touched">Nhập Họ và tên</p>-->
        </div>
        <div class="mb-3">
          <label for="caption" class="form-label">Tên bài</label>
          <input type="text" class="form-control" id="caption" formControlName="caption">
          <!--            <p class="validate" [hidden]="phone.valid || !phone.touched">Định dạng số điện thoại không đúng</p>-->
        </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createNewQuestionTest()">Tạo mới</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="create-question-test1-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Thêm nội dung của câu hỏi</h5>
        <span type="button" class="btn-close" data-dismiss="modal" aria-label="Close">X</span>
      </div>
      <div class="modal-body">
        <form [formGroup]="questionTest1From">
          <div class="mb-3">
            <label for="note" class="form-label">Câu hỏi</label>
            <input type="textarea" class="form-control" id="note1" formControlName="caption">
            <!--            <p class="validate" [hidden]="fullName.valid || !fullName.touched">Nhập Họ và tên</p>-->
          </div>
          <div class="mb-3">
            <label for="caption" class="form-label">A</label>
            <input type="text" class="form-control" id="caption1" formControlName="answer1">
            <!--            <p class="validate" [hidden]="phone.valid || !phone.touched">Định dạng số điện thoại không đúng</p>-->
          </div>
          <div class="mb-3">
            <label for="caption" class="form-label">B</label>
            <input type="text" class="form-control" id="caption2" formControlName="answer2">
            <!--            <p class="validate" [hidden]="phone.valid || !phone.touched">Định dạng số điện thoại không đúng</p>-->
          </div>
          <div class="mb-3">
            <label for="caption" class="form-label">C</label>
            <input type="text" class="form-control" id="caption3" formControlName="answer3">
            <!--            <p class="validate" [hidden]="phone.valid || !phone.touched">Định dạng số điện thoại không đúng</p>-->
          </div>
          <div class="mb-3">
            <label for="caption" class="form-label">D</label>
            <input type="text" class="form-control" id="caption4" formControlName="answer4">
            <!--            <p class="validate" [hidden]="phone.valid || !phone.touched">Định dạng số điện thoại không đúng</p>-->
          </div>
          <div class="mb-3">
            <label for="caption" class="form-label">Đáp án đúng</label>
            <input type="text" class="form-control" id="caption5" formControlName="correctAnswer">
            <!--            <p class="validate" [hidden]="phone.valid || !phone.touched">Định dạng số điện thoại không đúng</p>-->
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createNewQuestionTest1()">Tạo mới</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>

    </div>
  </div>
</div>


