#book-link {
  color: deepskyblue;
  cursor: pointer;
}
.lesson-link:hover{
    color: deeppink;
}
.lesson-link {
  cursor: pointer;
}
.test-link {
  cursor: pointer;
}
.test-link:hover{
  color: deeppink;
}
#test-link {
  color: deepskyblue;
  cursor: pointer;
}
