<app-navbar-user id="app-navbar-customer"></app-navbar-user>
<app-navbar-home></app-navbar-home>

<section class="section pt-5 pb-5 products-listing">

  <div class="container">
    <div class="row d-none-m">
      <div class="col-md-12">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <app-sidebar-user></app-sidebar-user>


      </div>
      <div class="col-md-9">
        <div class="owl-carousel owl-carousel-category owl-theme list-cate-page mb-4">
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/1.png" alt="">
                <h6>American</h6>
                <p>156</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/2.png" alt="">
                <h6>Pizza</h6>
                <p>120</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/3.png" alt="">
                <h6>Healthy</h6>
                <p>130</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/4.png" alt="">
                <h6>Vegetarian</h6>
                <p>120</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/5.png" alt="">
                <h6>Chinese</h6>
                <p>111</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/6.png" alt="">
                <h6>Hamburgers</h6>
                <p>958</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/7.png" alt="">
                <h6>Dessert</h6>
                <p>56</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/8.png" alt="">
                <h6>Chicken</h6>
                <p>40</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/customer-template/img/list/9.png" alt="">
                <h6>Indian</h6>
                <p>156</p>
              </a>
            </div>
          </div>
        </div>
        <h4 class="header">{{test.name}}</h4>
        <div class="row">
          <div class="col-md-8 col-sm-8 mb-4 pb-2" *ngFor="let question of questionTestList, index as i">
            <h5 class="header"  >Bài {{question.note}}. {{question.caption}}</h5>
            <div *ngFor="let questionTest1DTO of questionTest1DTOList, index as i">
              <div *ngIf="questionTest1DTO.questionTest.id === question.id">
                <h6>{{i+1}}) {{questionTest1DTO.question}}</h6>
                <div *ngFor="let answerQuestion1 of questionTest1DTO.answerQuestion1List, index as i">
                  <h6 *ngIf="answerQuestion1.answer !== ''">{{answerQuestion1.note}}: {{answerQuestion1.answer}}</h6>
                </div>
                <div>
                  <label>Nhập câu trả lời của bạn:  </label>
                  <input type="text" size="1px">
                </div>
              </div>
            </div>
          </div>
          <br>
          <div>
            <button>Nộp bài</button>
          </div>
      </div>
    </div>
  </div>
  </div>
</section>
<app-footer></app-footer>
