<footer class="pt-4 pb-4 text-center">
  <div class="container">
    <div class="row">
      <div class="col-8 text-left">
        <p class="mt-0 mb-0">CMC GlOBAl</p>
        <p class="mt-0 mb-0">DU 1.33</p>
        <ul>
          <li>Nguyễn Toàn Thắng - ntthang4 - <a href="mailto: n.v.toan687@gmail.com">ntthang4@cmcglobal.vn</a></li>


        </ul>
      </div>
<!--      <div class="col-4 text-right">-->
<!--        <p class="mt-0 mb-0">CodeGym.vn</p>-->
<!--        <p class="mt-0 mb-0">Công ty CP CodeGym Việt Nam</p>-->
<!--      </div>-->
    </div>

    <p class="mt-0 mb-0">© Template copyright 2020 thaotrinhminh@gmail.com. All Rights Reserved</p>
    <small class="mt-0 mb-0"> Made with <i class="fas fa-heart heart-icon text-danger"></i> by
      <a class="text-danger" target="_blank"
         href="http://thaotrinh.info">thaotrinh.info</a>
    </small>
  </div>
</footer>
